.fw-700{
    font-weight: 700;
}

.mb-0{
    margin-bottom: 0;
}

.mb-24{
    margin-bottom: 24px;
}
.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items:center;
}

.ml-a{
    margin-left: auto;
}